.singleBlock{
    border-style: solid;
    border-color: paleturquoise;
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
    margin: 10px;
    background-color: lightblue;
}

.console{
    position: absolute;
    height: 50px;
    bottom: 0px;
    right: 0;
    left:0;
    background-color: aqua;
}