.WorkFlowWrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
}

.displayArea {
    position: absolute;
    left:5%;
    right: 40%;
}

.dividingStick{
    position: fixed;
    background: darkblue;
    left:65%;
    height: 100%;
    width: 0.25%;
}

.inputArea {
    position: relative;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left:67.5%;
    right : 1.5%
}

.inputNoteWrapper {
    background-color: lightgreen;
    padding: 10px;
    position: relative;

}

.userInput {
    position: relative;
    top: 50px;
}

.result {
    background-color:#4d6d9a;
    text-align: center;
}

.sheetBar {
   position: fixed;
   width: 100%;
   height: 40px;
   bottom: 0;
   background-color: #4d6d9a; 
   z-index: 2;
   padding-left: 30px;
}

.sheetButton{
    min-width: 70px;
}